<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeneyes.IDao.AnnouncementMapper" >
   <resultMap id="BaseResultMap" type="com.goldeneyes.pojo.Announcement" >
    <id column="TabId" property="tabid" jdbcType="INTEGER" />
    <result column="SchoolId" property="schoolid" jdbcType="VARCHAR" />
    <result column="AnnouncementTitle" property="announcementtitle" jdbcType="VARCHAR" />
    <result column="Tag" property="tag" jdbcType="VARCHAR" />
    <result column="AnnouncementEncName" property="announcementencname" jdbcType="VARCHAR" />
    <result column="AnnouncementEncAddr" property="announcementencaddr" jdbcType="VARCHAR" />
    <result column="SmsSync" property="smssync" jdbcType="TINYINT" />
    <result column="SendManId" property="sendmanid" jdbcType="BIGINT" />
    <result column="SendManCode" property="sendmancode" jdbcType="VARCHAR" />
    <result column="SendManName" property="sendmanname" jdbcType="VARCHAR" />
    <result column="SendManPic" property="sendmanpic" jdbcType="VARCHAR" />
    <result column="SendTime" property="sendtime" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="TINYINT" />
    <result column="IsShow" property="isshow" jdbcType="TINYINT" />
    <result column="MsgType" property="msgtype" jdbcType="VARCHAR" />
    <result column="SmsMsgtypeCode" property="smsmsgtypecode" jdbcType="VARCHAR" />
    <result column="Servied" property="servied" jdbcType="TINYINT" />
    <result column="HrSmsid" property="hrsmsid" jdbcType="INTEGER" />
    <result column="IsCheck" property="ischeck" jdbcType="TINYINT" />
    <result column="CheckTime" property="checktime" jdbcType="TIMESTAMP" />
    <result column="CheckUser" property="checkuser" jdbcType="VARCHAR" />
    <result column="CheckUserTname" property="checkusertname" jdbcType="VARCHAR" />
    <result column="CheckUserUnit" property="checkuserunit" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.goldeneyes.pojo.Announcement" extends="BaseResultMap" >
    <result column="AnnouncementContent" property="announcementcontent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    TabId, SchoolId, AnnouncementTitle, Tag, AnnouncementEncName, AnnouncementEncAddr, 
    SmsSync, SendManId, SendManCode, SendManName, SendManPic, SendTime, Status, IsShow, 
    MsgType, SmsMsgtypeCode, Servied, HrSmsid, IsCheck, CheckTime, CheckUser, CheckUserTname, 
    CheckUserUnit
  </sql>
  <sql id="Blob_Column_List" >
    AnnouncementContent
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Announcement
    where TabId = #{tabid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Announcement
    where TabId = #{tabid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goldeneyes.pojo.Announcement" >
    insert into Announcement (TabId, SchoolId, AnnouncementTitle, 
      Tag, AnnouncementEncName, AnnouncementEncAddr, 
      SmsSync, SendManId, SendManCode, 
      SendManName, SendManPic, SendTime, 
      Status, IsShow, MsgType, 
      SmsMsgtypeCode, Servied, HrSmsid, 
      IsCheck, CheckTime, CheckUser, 
      CheckUserTname, CheckUserUnit, AnnouncementContent
      )
    values (#{tabid,jdbcType=INTEGER}, #{schoolid,jdbcType=VARCHAR}, #{announcementtitle,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{announcementencname,jdbcType=VARCHAR}, #{announcementencaddr,jdbcType=VARCHAR}, 
      #{smssync,jdbcType=TINYINT}, #{sendmanid,jdbcType=BIGINT}, #{sendmancode,jdbcType=VARCHAR}, 
      #{sendmanname,jdbcType=VARCHAR}, #{sendmanpic,jdbcType=VARCHAR}, #{sendtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{isshow,jdbcType=TINYINT}, #{msgtype,jdbcType=VARCHAR}, 
      #{smsmsgtypecode,jdbcType=VARCHAR}, #{servied,jdbcType=TINYINT}, #{hrsmsid,jdbcType=INTEGER}, 
      #{ischeck,jdbcType=TINYINT}, #{checktime,jdbcType=TIMESTAMP}, #{checkuser,jdbcType=VARCHAR}, 
      #{checkusertname,jdbcType=VARCHAR}, #{checkuserunit,jdbcType=VARCHAR}, #{announcementcontent,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.goldeneyes.pojo.Announcement" >
    insert into Announcement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        TabId,
      </if>
      <if test="schoolid != null" >
        SchoolId,
      </if>
      <if test="announcementtitle != null" >
        AnnouncementTitle,
      </if>
      <if test="tag != null" >
        Tag,
      </if>
      <if test="announcementencname != null" >
        AnnouncementEncName,
      </if>
      <if test="announcementencaddr != null" >
        AnnouncementEncAddr,
      </if>
      <if test="smssync != null" >
        SmsSync,
      </if>
      <if test="sendmanid != null" >
        SendManId,
      </if>
      <if test="sendmancode != null" >
        SendManCode,
      </if>
      <if test="sendmanname != null" >
        SendManName,
      </if>
      <if test="sendmanpic != null" >
        SendManPic,
      </if>
      <if test="sendtime != null" >
        SendTime,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="isshow != null" >
        IsShow,
      </if>
      <if test="msgtype != null" >
        MsgType,
      </if>
      <if test="smsmsgtypecode != null" >
        SmsMsgtypeCode,
      </if>
      <if test="servied != null" >
        Servied,
      </if>
      <if test="hrsmsid != null" >
        HrSmsid,
      </if>
      <if test="ischeck != null" >
        IsCheck,
      </if>
      <if test="checktime != null" >
        CheckTime,
      </if>
      <if test="checkuser != null" >
        CheckUser,
      </if>
      <if test="checkusertname != null" >
        CheckUserTname,
      </if>
      <if test="checkuserunit != null" >
        CheckUserUnit,
      </if>
      <if test="announcementcontent != null" >
        AnnouncementContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        #{tabid,jdbcType=INTEGER},
      </if>
      <if test="schoolid != null" >
        #{schoolid,jdbcType=VARCHAR},
      </if>
      <if test="announcementtitle != null" >
        #{announcementtitle,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="announcementencname != null" >
        #{announcementencname,jdbcType=VARCHAR},
      </if>
      <if test="announcementencaddr != null" >
        #{announcementencaddr,jdbcType=VARCHAR},
      </if>
      <if test="smssync != null" >
        #{smssync,jdbcType=TINYINT},
      </if>
      <if test="sendmanid != null" >
        #{sendmanid,jdbcType=BIGINT},
      </if>
      <if test="sendmancode != null" >
        #{sendmancode,jdbcType=VARCHAR},
      </if>
      <if test="sendmanname != null" >
        #{sendmanname,jdbcType=VARCHAR},
      </if>
      <if test="sendmanpic != null" >
        #{sendmanpic,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isshow != null" >
        #{isshow,jdbcType=TINYINT},
      </if>
      <if test="msgtype != null" >
        #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="smsmsgtypecode != null" >
        #{smsmsgtypecode,jdbcType=VARCHAR},
      </if>
      <if test="servied != null" >
        #{servied,jdbcType=TINYINT},
      </if>
      <if test="hrsmsid != null" >
        #{hrsmsid,jdbcType=INTEGER},
      </if>
      <if test="ischeck != null" >
        #{ischeck,jdbcType=TINYINT},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkuser != null" >
        #{checkuser,jdbcType=VARCHAR},
      </if>
      <if test="checkusertname != null" >
        #{checkusertname,jdbcType=VARCHAR},
      </if>
      <if test="checkuserunit != null" >
        #{checkuserunit,jdbcType=VARCHAR},
      </if>
      <if test="announcementcontent != null" >
        #{announcementcontent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goldeneyes.pojo.Announcement" >
    update Announcement
    <set >
      <if test="schoolid != null" >
        SchoolId = #{schoolid,jdbcType=VARCHAR},
      </if>
      <if test="announcementtitle != null" >
        AnnouncementTitle = #{announcementtitle,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        Tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="announcementencname != null" >
        AnnouncementEncName = #{announcementencname,jdbcType=VARCHAR},
      </if>
      <if test="announcementencaddr != null" >
        AnnouncementEncAddr = #{announcementencaddr,jdbcType=VARCHAR},
      </if>
      <if test="smssync != null" >
        SmsSync = #{smssync,jdbcType=TINYINT},
      </if>
      <if test="sendmanid != null" >
        SendManId = #{sendmanid,jdbcType=BIGINT},
      </if>
      <if test="sendmancode != null" >
        SendManCode = #{sendmancode,jdbcType=VARCHAR},
      </if>
      <if test="sendmanname != null" >
        SendManName = #{sendmanname,jdbcType=VARCHAR},
      </if>
      <if test="sendmanpic != null" >
        SendManPic = #{sendmanpic,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        SendTime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isshow != null" >
        IsShow = #{isshow,jdbcType=TINYINT},
      </if>
      <if test="msgtype != null" >
        MsgType = #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="smsmsgtypecode != null" >
        SmsMsgtypeCode = #{smsmsgtypecode,jdbcType=VARCHAR},
      </if>
      <if test="servied != null" >
        Servied = #{servied,jdbcType=TINYINT},
      </if>
      <if test="hrsmsid != null" >
        HrSmsid = #{hrsmsid,jdbcType=INTEGER},
      </if>
      <if test="ischeck != null" >
        IsCheck = #{ischeck,jdbcType=TINYINT},
      </if>
      <if test="checktime != null" >
        CheckTime = #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkuser != null" >
        CheckUser = #{checkuser,jdbcType=VARCHAR},
      </if>
      <if test="checkusertname != null" >
        CheckUserTname = #{checkusertname,jdbcType=VARCHAR},
      </if>
      <if test="checkuserunit != null" >
        CheckUserUnit = #{checkuserunit,jdbcType=VARCHAR},
      </if>
      <if test="announcementcontent != null" >
        AnnouncementContent = #{announcementcontent,jdbcType=CLOB},
      </if>
    </set>
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.goldeneyes.pojo.Announcement" >
    update Announcement
    set SchoolId = #{schoolid,jdbcType=VARCHAR},
      AnnouncementTitle = #{announcementtitle,jdbcType=VARCHAR},
      Tag = #{tag,jdbcType=VARCHAR},
      AnnouncementEncName = #{announcementencname,jdbcType=VARCHAR},
      AnnouncementEncAddr = #{announcementencaddr,jdbcType=VARCHAR},
      SmsSync = #{smssync,jdbcType=TINYINT},
      SendManId = #{sendmanid,jdbcType=BIGINT},
      SendManCode = #{sendmancode,jdbcType=VARCHAR},
      SendManName = #{sendmanname,jdbcType=VARCHAR},
      SendManPic = #{sendmanpic,jdbcType=VARCHAR},
      SendTime = #{sendtime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=TINYINT},
      IsShow = #{isshow,jdbcType=TINYINT},
      MsgType = #{msgtype,jdbcType=VARCHAR},
      SmsMsgtypeCode = #{smsmsgtypecode,jdbcType=VARCHAR},
      Servied = #{servied,jdbcType=TINYINT},
      HrSmsid = #{hrsmsid,jdbcType=INTEGER},
      IsCheck = #{ischeck,jdbcType=TINYINT},
      CheckTime = #{checktime,jdbcType=TIMESTAMP},
      CheckUser = #{checkuser,jdbcType=VARCHAR},
      CheckUserTname = #{checkusertname,jdbcType=VARCHAR},
      CheckUserUnit = #{checkuserunit,jdbcType=VARCHAR},
      AnnouncementContent = #{announcementcontent,jdbcType=CLOB}
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goldeneyes.pojo.Announcement" >
    update Announcement
    set SchoolId = #{schoolid,jdbcType=VARCHAR},
      AnnouncementTitle = #{announcementtitle,jdbcType=VARCHAR},
      Tag = #{tag,jdbcType=VARCHAR},
      AnnouncementEncName = #{announcementencname,jdbcType=VARCHAR},
      AnnouncementEncAddr = #{announcementencaddr,jdbcType=VARCHAR},
      SmsSync = #{smssync,jdbcType=TINYINT},
      SendManId = #{sendmanid,jdbcType=BIGINT},
      SendManCode = #{sendmancode,jdbcType=VARCHAR},
      SendManName = #{sendmanname,jdbcType=VARCHAR},
      SendManPic = #{sendmanpic,jdbcType=VARCHAR},
      SendTime = #{sendtime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=TINYINT},
      IsShow = #{isshow,jdbcType=TINYINT},
      MsgType = #{msgtype,jdbcType=VARCHAR},
      SmsMsgtypeCode = #{smsmsgtypecode,jdbcType=VARCHAR},
      Servied = #{servied,jdbcType=TINYINT},
      HrSmsid = #{hrsmsid,jdbcType=INTEGER},
      IsCheck = #{ischeck,jdbcType=TINYINT},
      CheckTime = #{checktime,jdbcType=TIMESTAMP},
      CheckUser = #{checkuser,jdbcType=VARCHAR},
      CheckUserTname = #{checkusertname,jdbcType=VARCHAR},
      CheckUserUnit = #{checkuserunit,jdbcType=VARCHAR}
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
	<!-- 获取审核的公告数量 -->
	<select id="getCheckAnnouncementCnt" resultType="java.lang.Integer">
		select COUNT(AnnouncementId)
		from
		(select 1 type,Announcement.TabId AnnouncementId,Tag,AnnouncementTitle,Status,SendTime,SendManName,SendManPic
				from Announcement,AnnouncementCheck
		where Announcement.TabId = AnnouncementCheck.AnnouncementId and SchoolId = #{schoolId} 
		<choose>
			<when test="tag != ''">
				and Tag like '%${tag}%' 
			</when>
		</choose>
		<choose>
			<when test="title != ''">
				and AnnouncementTitle like '%${title}%' 
			</when>
		</choose>
		<choose>
			<when test="sendMan != ''">
				and SendManName like '%${sendMan}%'
			</when>
		</choose>
		and SendTime &gt;= #{beginDate} and SendTime &lt;= #{endDate} and (#{type} = 0 or #{type} = 1)
		and Status != 3 and  Status != 4 and IsShow = 1
		<choose>
			<when test="checkStatus != 0">
				and AnnouncementCheck.CheckStatus = #{checkStatus}
			</when>
		</choose>
		union
		select 2 type,SchoolWeekWork.TabId AnnouncementId,Tag,Title AnnouncementTitle,Status,SendTime,SendManName,SendManPic
				from SchoolWeekWork,SchoolWeekWorkCheck
		where SchoolWeekWork.TabId = SchoolWeekWorkCheck.SchoolWeekWorkId and SchoolId = #{schoolId} 
		<choose>
			<when test="tag != ''">
				and Tag like '%${tag}%' 
			</when>
		</choose>
		<choose>
			<when test="title != ''">
				and Title like '%${title}%' 
			</when>
		</choose>
		<choose>
			<when test="sendMan != ''">
				and SendManName like '%${sendMan}%'
			</when>
		</choose>
		and SendTime &gt;= #{beginDate} and SendTime &lt;= #{endDate} and (#{type} = 0 or #{type} = 2)
		and Status != 3 and  Status != 4 and IsShow = 1
		<choose>
			<when test="checkStatus != 0">
				and SchoolWeekWorkCheck.CheckStatus = #{checkStatus}
			</when>
		</choose>
		union
		select 3 type,SchoolCalendar.TabId AnnouncementId,Tag,Title AnnouncementTitle,Status,SendTime,SendManName,SendManPic
				from SchoolCalendar,SchoolCalendarCheck
		where SchoolCalendar.TabId = SchoolCalendarCheck.SchoolCalendarId and SchoolId = #{schoolId} 
		<choose>
			<when test="tag != ''">
				and Tag like '%${tag}%' 
			</when>
		</choose>
		<choose>
			<when test="title != ''">
				and Title like '%${title}%' 
			</when>
		</choose>
		<choose>
			<when test="sendMan != ''">
				and SendManName like '%${sendMan}%'
			</when>
		</choose>
		and SendTime &gt;= #{beginDate} and SendTime &lt;= #{endDate} and (#{type} = 0 or #{type} = 3)
		and Status != 3 and  Status != 4 and IsShow = 1
		<choose>
			<when test="checkStatus != 0">
				and SchoolCalendarCheck.CheckStatus = #{checkStatus}
			</when>
		</choose>
		) Announcement
	</select>
</mapper>