<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeneyes.IDao.InfoUploadMapper" >
  <resultMap id="BaseResultMap" type="com.goldeneyes.pojo.InfoUpload" >
    <id column="TabId" property="tabid" jdbcType="INTEGER" />
    <result column="CollectId" property="collectid" jdbcType="INTEGER" />
    <result column="Tag" property="tag" jdbcType="VARCHAR" />
    <result column="ReceiveManId" property="receivemanid" jdbcType="BIGINT" />
    <result column="ReceiveManCode" property="receivemancode" jdbcType="VARCHAR" />
    <result column="ReceiveManName" property="receivemanname" jdbcType="VARCHAR" />
    <result column="ReceiveManPic" property="receivemanpic" jdbcType="VARCHAR" />
    <result column="Content" property="content" jdbcType="VARCHAR" />
    <result column="EncName" property="encname" jdbcType="VARCHAR" />
    <result column="EncAddr" property="encaddr" jdbcType="VARCHAR" />
    <result column="UploadTime" property="uploadtime" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="TINYINT" />
    <result column="CloseStatus" property="closestatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    TabId, CollectId, Tag, ReceiveManId, ReceiveManCode, ReceiveManName, ReceiveManPic, 
    Content, EncName, EncAddr, UploadTime, Status, CloseStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from InfoUpload
    where TabId = #{tabid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from InfoUpload
    where TabId = #{tabid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goldeneyes.pojo.InfoUpload" >
    insert into InfoUpload (TabId, CollectId, Tag, 
      ReceiveManId, ReceiveManCode, ReceiveManName, 
      ReceiveManPic, Content, EncName, 
      EncAddr, UploadTime, Status, 
      CloseStatus)
    values (#{tabid,jdbcType=INTEGER}, #{collectid,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, 
      #{receivemanid,jdbcType=BIGINT}, #{receivemancode,jdbcType=VARCHAR}, #{receivemanname,jdbcType=VARCHAR}, 
      #{receivemanpic,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{encname,jdbcType=VARCHAR}, 
      #{encaddr,jdbcType=VARCHAR}, #{uploadtime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{closestatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.goldeneyes.pojo.InfoUpload" >
    insert into InfoUpload
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        TabId,
      </if>
      <if test="collectid != null" >
        CollectId,
      </if>
      <if test="tag != null" >
        Tag,
      </if>
      <if test="receivemanid != null" >
        ReceiveManId,
      </if>
      <if test="receivemancode != null" >
        ReceiveManCode,
      </if>
      <if test="receivemanname != null" >
        ReceiveManName,
      </if>
      <if test="receivemanpic != null" >
        ReceiveManPic,
      </if>
      <if test="content != null" >
        Content,
      </if>
      <if test="encname != null" >
        EncName,
      </if>
      <if test="encaddr != null" >
        EncAddr,
      </if>
      <if test="uploadtime != null" >
        UploadTime,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="closestatus != null" >
        CloseStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        #{tabid,jdbcType=INTEGER},
      </if>
      <if test="collectid != null" >
        #{collectid,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="receivemanid != null" >
        #{receivemanid,jdbcType=BIGINT},
      </if>
      <if test="receivemancode != null" >
        #{receivemancode,jdbcType=VARCHAR},
      </if>
      <if test="receivemanname != null" >
        #{receivemanname,jdbcType=VARCHAR},
      </if>
      <if test="receivemanpic != null" >
        #{receivemanpic,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="encname != null" >
        #{encname,jdbcType=VARCHAR},
      </if>
      <if test="encaddr != null" >
        #{encaddr,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="closestatus != null" >
        #{closestatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goldeneyes.pojo.InfoUpload" >
    update InfoUpload
    <set >
      <if test="collectid != null" >
        CollectId = #{collectid,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        Tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="receivemanid != null" >
        ReceiveManId = #{receivemanid,jdbcType=BIGINT},
      </if>
      <if test="receivemancode != null" >
        ReceiveManCode = #{receivemancode,jdbcType=VARCHAR},
      </if>
      <if test="receivemanname != null" >
        ReceiveManName = #{receivemanname,jdbcType=VARCHAR},
      </if>
      <if test="receivemanpic != null" >
        ReceiveManPic = #{receivemanpic,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="encname != null" >
        EncName = #{encname,jdbcType=VARCHAR},
      </if>
      <if test="encaddr != null" >
        EncAddr = #{encaddr,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        UploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="closestatus != null" >
        CloseStatus = #{closestatus,jdbcType=TINYINT},
      </if>
    </set>
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goldeneyes.pojo.InfoUpload" >
    update InfoUpload
    set CollectId = #{collectid,jdbcType=INTEGER},
      Tag = #{tag,jdbcType=VARCHAR},
      ReceiveManId = #{receivemanid,jdbcType=BIGINT},
      ReceiveManCode = #{receivemancode,jdbcType=VARCHAR},
      ReceiveManName = #{receivemanname,jdbcType=VARCHAR},
      ReceiveManPic = #{receivemanpic,jdbcType=VARCHAR},
      Content = #{content,jdbcType=VARCHAR},
      EncName = #{encname,jdbcType=VARCHAR},
      EncAddr = #{encaddr,jdbcType=VARCHAR},
      UploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=TINYINT},
      CloseStatus = #{closestatus,jdbcType=TINYINT}
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
	<!-- 获取某人未上交个数 -->
	<select id="getNoUploadCntByMan" resultType="java.lang.Integer">
		select COUNT(ic.tabid)
		from InfoCollect ic,InfoUpload iu
		where ic.tabid = iu.CollectId and iu.ReceiveManId = #{arg1}
		and ic.SchoolId = #{arg0} and iu.Status = 1 and (ic.Status = 1 or ic.Status = 3) and ic.IsShow = 1
	</select>
</mapper>