<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeneyes.IDao.InfoCollectMapper" >
  <resultMap id="BaseResultMap" type="com.goldeneyes.pojo.InfoCollect" >
    <id column="TabId" property="tabid" jdbcType="INTEGER" />
    <result column="SchoolId" property="schoolid" jdbcType="VARCHAR" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="Content" property="content" jdbcType="VARCHAR" />
    <result column="Tag" property="tag" jdbcType="VARCHAR" />
    <result column="EncName" property="encname" jdbcType="VARCHAR" />
    <result column="EncAddr" property="encaddr" jdbcType="VARCHAR" />
    <result column="SmsSync" property="smssync" jdbcType="TINYINT" />
    <result column="SendManId" property="sendmanid" jdbcType="BIGINT" />
    <result column="SendManCode" property="sendmancode" jdbcType="VARCHAR" />
    <result column="SendManName" property="sendmanname" jdbcType="VARCHAR" />
    <result column="SendManPic" property="sendmanpic" jdbcType="VARCHAR" />
    <result column="SendTime" property="sendtime" jdbcType="TIMESTAMP" />
    <result column="EndTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="UploadCnt" property="uploadcnt" jdbcType="INTEGER" />
    <result column="SendCnt" property="sendcnt" jdbcType="INTEGER" />
    <result column="Progress" property="progress" jdbcType="TINYINT" />
    <result column="Status" property="status" jdbcType="TINYINT" />
    <result column="IsShow" property="isshow" jdbcType="TINYINT" />
    <result column="MsgType" property="msgtype" jdbcType="VARCHAR" />
    <result column="SmsMsgtypeCode" property="smsmsgtypecode" jdbcType="VARCHAR" />
    <result column="Servied" property="servied" jdbcType="TINYINT" />
    <result column="HrSmsid" property="hrsmsid" jdbcType="INTEGER" />
    <result column="IsCheck" property="ischeck" jdbcType="TINYINT" />
    <result column="CheckTime" property="checktime" jdbcType="TIMESTAMP" />
    <result column="CheckUser" property="checkuser" jdbcType="VARCHAR" />
    <result column="CheckUserTname" property="checkusertname" jdbcType="VARCHAR" />
    <result column="CheckUserUnit" property="checkuserunit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TabId, SchoolId, Title, Content, Tag, EncName, EncAddr, SmsSync, SendManId, SendManCode, 
    SendManName, SendManPic, SendTime, EndTime, UploadCnt, SendCnt, Progress, Status, 
    IsShow, MsgType, SmsMsgtypeCode, Servied, HrSmsid, IsCheck, CheckTime, CheckUser, 
    CheckUserTname, CheckUserUnit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from InfoCollect
    where TabId = #{tabid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from InfoCollect
    where TabId = #{tabid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goldeneyes.pojo.InfoCollect" >
    insert into InfoCollect (TabId, SchoolId, Title, 
      Content, Tag, EncName, 
      EncAddr, SmsSync, SendManId, 
      SendManCode, SendManName, SendManPic, 
      SendTime, EndTime, UploadCnt, 
      SendCnt, Progress, Status, 
      IsShow, MsgType, SmsMsgtypeCode, 
      Servied, HrSmsid, IsCheck, 
      CheckTime, CheckUser, CheckUserTname, 
      CheckUserUnit)
    values (#{tabid,jdbcType=INTEGER}, #{schoolid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, #{encname,jdbcType=VARCHAR}, 
      #{encaddr,jdbcType=VARCHAR}, #{smssync,jdbcType=TINYINT}, #{sendmanid,jdbcType=BIGINT}, 
      #{sendmancode,jdbcType=VARCHAR}, #{sendmanname,jdbcType=VARCHAR}, #{sendmanpic,jdbcType=VARCHAR}, 
      #{sendtime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{uploadcnt,jdbcType=INTEGER}, 
      #{sendcnt,jdbcType=INTEGER}, #{progress,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{isshow,jdbcType=TINYINT}, #{msgtype,jdbcType=VARCHAR}, #{smsmsgtypecode,jdbcType=VARCHAR}, 
      #{servied,jdbcType=TINYINT}, #{hrsmsid,jdbcType=INTEGER}, #{ischeck,jdbcType=TINYINT}, 
      #{checktime,jdbcType=TIMESTAMP}, #{checkuser,jdbcType=VARCHAR}, #{checkusertname,jdbcType=VARCHAR}, 
      #{checkuserunit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.goldeneyes.pojo.InfoCollect" >
    insert into InfoCollect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        TabId,
      </if>
      <if test="schoolid != null" >
        SchoolId,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="content != null" >
        Content,
      </if>
      <if test="tag != null" >
        Tag,
      </if>
      <if test="encname != null" >
        EncName,
      </if>
      <if test="encaddr != null" >
        EncAddr,
      </if>
      <if test="smssync != null" >
        SmsSync,
      </if>
      <if test="sendmanid != null" >
        SendManId,
      </if>
      <if test="sendmancode != null" >
        SendManCode,
      </if>
      <if test="sendmanname != null" >
        SendManName,
      </if>
      <if test="sendmanpic != null" >
        SendManPic,
      </if>
      <if test="sendtime != null" >
        SendTime,
      </if>
      <if test="endtime != null" >
        EndTime,
      </if>
      <if test="uploadcnt != null" >
        UploadCnt,
      </if>
      <if test="sendcnt != null" >
        SendCnt,
      </if>
      <if test="progress != null" >
        Progress,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="isshow != null" >
        IsShow,
      </if>
      <if test="msgtype != null" >
        MsgType,
      </if>
      <if test="smsmsgtypecode != null" >
        SmsMsgtypeCode,
      </if>
      <if test="servied != null" >
        Servied,
      </if>
      <if test="hrsmsid != null" >
        HrSmsid,
      </if>
      <if test="ischeck != null" >
        IsCheck,
      </if>
      <if test="checktime != null" >
        CheckTime,
      </if>
      <if test="checkuser != null" >
        CheckUser,
      </if>
      <if test="checkusertname != null" >
        CheckUserTname,
      </if>
      <if test="checkuserunit != null" >
        CheckUserUnit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        #{tabid,jdbcType=INTEGER},
      </if>
      <if test="schoolid != null" >
        #{schoolid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="encname != null" >
        #{encname,jdbcType=VARCHAR},
      </if>
      <if test="encaddr != null" >
        #{encaddr,jdbcType=VARCHAR},
      </if>
      <if test="smssync != null" >
        #{smssync,jdbcType=TINYINT},
      </if>
      <if test="sendmanid != null" >
        #{sendmanid,jdbcType=BIGINT},
      </if>
      <if test="sendmancode != null" >
        #{sendmancode,jdbcType=VARCHAR},
      </if>
      <if test="sendmanname != null" >
        #{sendmanname,jdbcType=VARCHAR},
      </if>
      <if test="sendmanpic != null" >
        #{sendmanpic,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadcnt != null" >
        #{uploadcnt,jdbcType=INTEGER},
      </if>
      <if test="sendcnt != null" >
        #{sendcnt,jdbcType=INTEGER},
      </if>
      <if test="progress != null" >
        #{progress,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isshow != null" >
        #{isshow,jdbcType=TINYINT},
      </if>
      <if test="msgtype != null" >
        #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="smsmsgtypecode != null" >
        #{smsmsgtypecode,jdbcType=VARCHAR},
      </if>
      <if test="servied != null" >
        #{servied,jdbcType=TINYINT},
      </if>
      <if test="hrsmsid != null" >
        #{hrsmsid,jdbcType=INTEGER},
      </if>
      <if test="ischeck != null" >
        #{ischeck,jdbcType=TINYINT},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkuser != null" >
        #{checkuser,jdbcType=VARCHAR},
      </if>
      <if test="checkusertname != null" >
        #{checkusertname,jdbcType=VARCHAR},
      </if>
      <if test="checkuserunit != null" >
        #{checkuserunit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goldeneyes.pojo.InfoCollect" >
    update InfoCollect
    <set >
      <if test="schoolid != null" >
        SchoolId = #{schoolid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        Tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="encname != null" >
        EncName = #{encname,jdbcType=VARCHAR},
      </if>
      <if test="encaddr != null" >
        EncAddr = #{encaddr,jdbcType=VARCHAR},
      </if>
      <if test="smssync != null" >
        SmsSync = #{smssync,jdbcType=TINYINT},
      </if>
      <if test="sendmanid != null" >
        SendManId = #{sendmanid,jdbcType=BIGINT},
      </if>
      <if test="sendmancode != null" >
        SendManCode = #{sendmancode,jdbcType=VARCHAR},
      </if>
      <if test="sendmanname != null" >
        SendManName = #{sendmanname,jdbcType=VARCHAR},
      </if>
      <if test="sendmanpic != null" >
        SendManPic = #{sendmanpic,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        SendTime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        EndTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadcnt != null" >
        UploadCnt = #{uploadcnt,jdbcType=INTEGER},
      </if>
      <if test="sendcnt != null" >
        SendCnt = #{sendcnt,jdbcType=INTEGER},
      </if>
      <if test="progress != null" >
        Progress = #{progress,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isshow != null" >
        IsShow = #{isshow,jdbcType=TINYINT},
      </if>
      <if test="msgtype != null" >
        MsgType = #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="smsmsgtypecode != null" >
        SmsMsgtypeCode = #{smsmsgtypecode,jdbcType=VARCHAR},
      </if>
      <if test="servied != null" >
        Servied = #{servied,jdbcType=TINYINT},
      </if>
      <if test="hrsmsid != null" >
        HrSmsid = #{hrsmsid,jdbcType=INTEGER},
      </if>
      <if test="ischeck != null" >
        IsCheck = #{ischeck,jdbcType=TINYINT},
      </if>
      <if test="checktime != null" >
        CheckTime = #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkuser != null" >
        CheckUser = #{checkuser,jdbcType=VARCHAR},
      </if>
      <if test="checkusertname != null" >
        CheckUserTname = #{checkusertname,jdbcType=VARCHAR},
      </if>
      <if test="checkuserunit != null" >
        CheckUserUnit = #{checkuserunit,jdbcType=VARCHAR},
      </if>
    </set>
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goldeneyes.pojo.InfoCollect" >
    update InfoCollect
    set SchoolId = #{schoolid,jdbcType=VARCHAR},
      Title = #{title,jdbcType=VARCHAR},
      Content = #{content,jdbcType=VARCHAR},
      Tag = #{tag,jdbcType=VARCHAR},
      EncName = #{encname,jdbcType=VARCHAR},
      EncAddr = #{encaddr,jdbcType=VARCHAR},
      SmsSync = #{smssync,jdbcType=TINYINT},
      SendManId = #{sendmanid,jdbcType=BIGINT},
      SendManCode = #{sendmancode,jdbcType=VARCHAR},
      SendManName = #{sendmanname,jdbcType=VARCHAR},
      SendManPic = #{sendmanpic,jdbcType=VARCHAR},
      SendTime = #{sendtime,jdbcType=TIMESTAMP},
      EndTime = #{endtime,jdbcType=TIMESTAMP},
      UploadCnt = #{uploadcnt,jdbcType=INTEGER},
      SendCnt = #{sendcnt,jdbcType=INTEGER},
      Progress = #{progress,jdbcType=TINYINT},
      Status = #{status,jdbcType=TINYINT},
      IsShow = #{isshow,jdbcType=TINYINT},
      MsgType = #{msgtype,jdbcType=VARCHAR},
      SmsMsgtypeCode = #{smsmsgtypecode,jdbcType=VARCHAR},
      Servied = #{servied,jdbcType=TINYINT},
      HrSmsid = #{hrsmsid,jdbcType=INTEGER},
      IsCheck = #{ischeck,jdbcType=TINYINT},
      CheckTime = #{checktime,jdbcType=TIMESTAMP},
      CheckUser = #{checkuser,jdbcType=VARCHAR},
      CheckUserTname = #{checkusertname,jdbcType=VARCHAR},
      CheckUserUnit = #{checkuserunit,jdbcType=VARCHAR}
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
</mapper>