<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeneyes.IDao.NoticeLetterRowMapper" >
  <resultMap id="BaseResultMap" type="com.goldeneyes.pojo.NoticeLetterRow" >
    <id column="TabId" property="tabid" jdbcType="INTEGER" />
    <result column="LetterId" property="letterid" jdbcType="INTEGER" />
    <result column="NoticeManId" property="noticemanid" jdbcType="BIGINT" />
    <result column="NoticeManName" property="noticemanname" jdbcType="VARCHAR" />
    <result column="NoticeManDept" property="noticemandept" jdbcType="VARCHAR" />
    <result column="NoticeManStatus" property="noticemanstatus" jdbcType="TINYINT" />
    <result column="LetterValue" property="lettervalue" jdbcType="VARCHAR" />
    <result column="OrderId" property="orderid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    TabId, LetterId, NoticeManId, NoticeManName, NoticeManDept, NoticeManStatus, LetterValue, 
    OrderId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from NoticeLetterRow
    where TabId = #{tabid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from NoticeLetterRow
    where TabId = #{tabid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goldeneyes.pojo.NoticeLetterRow" >
    insert into NoticeLetterRow (TabId, LetterId, NoticeManId, 
      NoticeManName, NoticeManDept, NoticeManStatus, 
      LetterValue, OrderId)
    values (#{tabid,jdbcType=INTEGER}, #{letterid,jdbcType=INTEGER}, #{noticemanid,jdbcType=BIGINT}, 
      #{noticemanname,jdbcType=VARCHAR}, #{noticemandept,jdbcType=VARCHAR}, #{noticemanstatus,jdbcType=TINYINT}, 
      #{lettervalue,jdbcType=VARCHAR}, #{orderid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.goldeneyes.pojo.NoticeLetterRow" >
    insert into NoticeLetterRow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        TabId,
      </if>
      <if test="letterid != null" >
        LetterId,
      </if>
      <if test="noticemanid != null" >
        NoticeManId,
      </if>
      <if test="noticemanname != null" >
        NoticeManName,
      </if>
      <if test="noticemandept != null" >
        NoticeManDept,
      </if>
      <if test="noticemanstatus != null" >
        NoticeManStatus,
      </if>
      <if test="lettervalue != null" >
        LetterValue,
      </if>
      <if test="orderid != null" >
        OrderId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        #{tabid,jdbcType=INTEGER},
      </if>
      <if test="letterid != null" >
        #{letterid,jdbcType=INTEGER},
      </if>
      <if test="noticemanid != null" >
        #{noticemanid,jdbcType=BIGINT},
      </if>
      <if test="noticemanname != null" >
        #{noticemanname,jdbcType=VARCHAR},
      </if>
      <if test="noticemandept != null" >
        #{noticemandept,jdbcType=VARCHAR},
      </if>
      <if test="noticemanstatus != null" >
        #{noticemanstatus,jdbcType=TINYINT},
      </if>
      <if test="lettervalue != null" >
        #{lettervalue,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goldeneyes.pojo.NoticeLetterRow" >
    update NoticeLetterRow
    <set >
      <if test="letterid != null" >
        LetterId = #{letterid,jdbcType=INTEGER},
      </if>
      <if test="noticemanid != null" >
        NoticeManId = #{noticemanid,jdbcType=BIGINT},
      </if>
      <if test="noticemanname != null" >
        NoticeManName = #{noticemanname,jdbcType=VARCHAR},
      </if>
      <if test="noticemandept != null" >
        NoticeManDept = #{noticemandept,jdbcType=VARCHAR},
      </if>
      <if test="noticemanstatus != null" >
        NoticeManStatus = #{noticemanstatus,jdbcType=TINYINT},
      </if>
      <if test="lettervalue != null" >
        LetterValue = #{lettervalue,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        OrderId = #{orderid,jdbcType=INTEGER},
      </if>
    </set>
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goldeneyes.pojo.NoticeLetterRow" >
    update NoticeLetterRow
    set LetterId = #{letterid,jdbcType=INTEGER},
      NoticeManId = #{noticemanid,jdbcType=BIGINT},
      NoticeManName = #{noticemanname,jdbcType=VARCHAR},
      NoticeManDept = #{noticemandept,jdbcType=VARCHAR},
      NoticeManStatus = #{noticemanstatus,jdbcType=TINYINT},
      LetterValue = #{lettervalue,jdbcType=VARCHAR},
      OrderId = #{orderid,jdbcType=INTEGER}
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
</mapper>